---
import UpdateBDD from '../../components/UpdateBDD';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Actualizar BDD">
	<main>
        <UpdateBDD client:load />
	</main>
</Layout>