---
import Layout from '../../layouts/Layout.astro';
import Condiciones from '../../components/Condiciones';
---

<Layout title="Condiciones">
	<main>
        <Condiciones client:load />
	</main>
</Layout>