---
import DesistLots from '../../components/DesistLots';
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Resolver Desistimientos">
	<main>
        <DesistLots client:load />
	</main>
</Layout>