---
import AdminButtons from '../../components/AdminButtons.astro';
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Opciones de Administrador">
	<main>
		<AdminButtons />
	</main>
</Layout>